%h1 Question

%h4
  = @answer_form.description

= simple_form_for(@answer_form) do |f|
  .form-inputs
    = f.input :answer, as: @answer_form.input_type

  .form-actions
    = f.button :submit, 'Submit'
